.mobilePagination {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.mobilePagination button {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 100%;
    background-color: #ebebeb;
    cursor: pointer;
    transition: all .5s ease;
}

.mobilePagination .btnCurrent {
    background-color: black;
}